## List Comprehension

In [13]:
a = [i**2 for i in range(1,100) if i%2==0]

Is equivalent to:

```    a = []
    for i in range(1,100):
        if i%2==0:
          a.append(i**2)  
```

<img src="http://treyhunner.com/images/list-comprehension-condition.gif" alt="Alt text that describes the graphic" title="Title text" />

## zip

In [29]:
b = ['a', 'b', 'c']
a = [1, 2, 3]

for i in zip(a,b): # returns tuple
    print(i) 
    
z = zip(a,b)
print(*z)

(1, 'a')
(2, 'b')
(3, 'c')
(1, 'a') (2, 'b') (3, 'c')

## map

In [40]:
def cube(x):
    return x**3

def modulo2(x):
    return x%2

x = [3, 6, 9, 12, 15]

vals = map(cube, x)
vals = list(vals)
print(vals)

mod = map(modulo2, list(vals))
print(list(mod))

[27, 216, 729, 1728, 3375]
[1, 0, 1, 0, 1]

# lambda

For creating small anonymous functions, i.e. functions without a name. These functions are throw-away functions, i.e. they are just needed where they have been created. Lambda functions are mainly used in combination with the functions filter(), map() and reduce().

In [49]:
f = lambda x: abs(x)

In [50]:
f(-1)

1

In [41]:
cube_vals = map(lambda x: x**3, range(0,100,2))

In [43]:
list(cube_vals)

[0,
 8,
 64,
 216,
 512,
 1000,
 1728,
 2744,
 4096,
 5832,
 8000,
 10648,
 13824,
 17576,
 21952,
 27000,
 32768,
 39304,
 46656,
 54872,
 64000,
 74088,
 85184,
 97336,
 110592,
 125000,
 140608,
 157464,
 175616,
 195112,
 216000,
 238328,
 262144,
 287496,
 314432,
 343000,
 373248,
 405224,
 438976,
 474552,
 512000,
 551368,
 592704,
 636056,
 681472,
 729000,
 778688,
 830584,
 884736,
 941192]